<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-logo">
                <span class="logo">{{@blog.title}}</span>
            </div>
            <ul class="social-medias">
                <li>
                    <a href="https://twitter.com/hesselberg">
                        <svg class="icon icon-twitter">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/larshesselberg/">
                        <svg class="icon icon-instagram">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://dk.linkedin.com/in/larshesselberg">
                        <svg class="icon icon-linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/hesselberg">
                        <svg class="icon icon-dribbble">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-dribbble"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/hesselberg">
                        <svg class="icon icon-github">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer-copyright">
                <span class="copyright">Lavet med <span class="heart">❤</span></span>
            </div>
        </div>
    </div>
</footer>
