<header class="page-header">
    <div class="page-header-inner">
        <a class="back-to-frontpage" href="http://larshesselberg.dk">{{@blog.title}}</a>
        <a class="back-to-blog" href="{{@blog.url}}">Blog</a>
    </div>
</header>
