<div class="newsletter-signup">
    <div class="container">
        <form id="mailchimp-signup" action="http://larshesselberg.dk/subscribe.php" method="post" accept-charset="utf-8">
            <div class="form-inner">
                <p>Hvis du synes det var interessant at læse, hvorfor så ikke modtage det direkte i din indbakke?</p>
                <button class="button" type="submit">Tilmeld updates</button>
                <div class="input-container">
                    <input id="email" name="email" type="email" required="true" class="input" placeholder="E-mail adresse">
                </div>
            </div>
        </form>
    </div>
</div>
